<div class="header">
  <div class="header_left">
    <a href="/"><h2>xx-后台管理系统</h2></a>
  </div>
  <div class="header_right">
    <p>欢迎您- <%= nickname %> - <%= isAdmin %></p>
    <button>
      <a href="/users/logout">退出登录</a>
    </button>
  </div>
</div>
