<!-- <div class="menu">
  <ul>
    <% if (isAdmin) { %>
      <li class="menu_item">
        <a href="/userManager.html">用户管理</a>
      </li>
    <% } %>

    <li class="menu_item">
      <a href="phone/mobileManager.html">手机管理</a>
    </li>
    <li class="menu_item">
      <a href="/brand">品牌管理</a>
    </li>
  </ul>
</div> -->

<!-- <div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
      <% if (isAdmin) { %>
      <li>
        <a href="/userManager.html">用户管理</a>
      </li>
      <% } %>
      <li>
        <a href="phone/mobileManager.html">手机管理</a>
      </li>
      <li>
        <a href="/brand">品牌管理</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-content">
  <div class="layui-tab-content">

  </div>
</div> -->